@tailwind base;
@tailwind components;
@tailwind utilities;

/* ?? Using HSL color values */
@layer base {
  :root {
    --bg-body-light: 0, 0%, 100%;
    --bg-body-dark: 220.9, 39.3%, 11%;
  }

  /* @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("/fonts/Montserrat-Light.ttf");
  } */

  @font-face {
    font-family: "Merriweather";
    font-weight: 300;
    src: url("/fonts/Merriweather-Light.ttf");
  }

  body {
    @apply bg-gray-200;
  }
}
